Build
DerivedData
Distribute
CodecCommander/CodecCommander.xcodeproj/project.xcworkspace/xcuserdata
CodecCommander/CodecCommander.xcodeproj/xcuserdata
CodecCommander.xcodeproj/project.xcworkspace/xcuserdata
CodecCommanderClient/CodecCommanderClient.xcodeproj/project.xcworkspace/xcuserdata
CodecCommanderClient/CodecCommanderClient.xcodeproj/xcuserdata
*.xccheckout
.DS_Store
