<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/EAPD-Codec-Commander</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013-2014 TimeWalker/RehabMan. All rights reserved.</string>
	<key>CFBundleGetInfoString</key>
	<string>${MODULE_VERSION}, Copyright © 2013-2014 TimeWalker. All rights reserved.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${MODULE_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CodecCommander</key>
		<dict>
			<key>RM,Version</key>
			<string>${PRODUCT_NAME} ${MODULE_VERSION}</string>
			<key>RM,Build</key>
			<string>${CONFIGURATION}-${LOGNAME}</string>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>CodecCommander</string>
			<key>IOMatchCategory</key>
			<string>CodecCommander</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>CodecCommanderClient</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Update Nodes</key>
					<true/>
					<key>Custom Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<integer>983040</integer>
							<key>Comment</key>
							<string>Test command (Vendor Info)</string>
							<key>On Init</key>
							<true/>
							<key>On Sleep</key>
							<true/>
							<key>On Wake</key>
							<true/>
						</dict>
					</array>
					<key>HDEF Device Location</key>
					<string>1B</string>
					<key>Codec Address Number</key>
					<integer>0</integer>
					<key>Send Delay</key>
					<integer>300</integer>
					<key>Check Interval</key>
					<integer>3000</integer>
					<key>Check Infinitely</key>
					<true/>
				</dict>
				<key>ASUS</key>
				<dict>
					<key>1201N</key>
					<dict>
						<key>HDEF Device Location</key>
						<string>8</string>
					</dict>
				</dict>
				<key>Gigabyte</key>
				<dict>
					<key>H87-HD3</key>
					<dict>
						<key>Codec Address Number</key>
						<integer>2</integer>
						<key>Update Nodes</key>
						<false/>
						<key>Check Infinitely</key>
						<false/>
					</dict>
				</dict>
				<key>Lenovo</key>
				<dict>
					<key>U430</key>
					<dict>
						<key>Check Infinitely</key>
						<true/>
						<key>Check Interval</key>
						<integer>1000</integer>
						<key>Send Delay</key>
						<integer>100</integer>
					</dict>
					<key>Cherry 4A Touch</key>
					<string>U430</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>1.1fc9</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
</dict>
</plist>
